body {
    width: 100%;
    height: 100%;
    margin: 0;
}

table {
    width: 100vw;
    height: 100vh;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border: 2px solid black;
    font-size: clamp(14px, 2vw, 24px);
    padding: 10px;
    vertical-align: middle;
    word-wrap: break-word;
}

.left {
    background-color: greenyellow;
}

.right {
    background-color: goldenrod;
}