body {
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}
